<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!-- <event name="checkout_submit_all_after">
        <observer name="synaptech_smsalert_observer_new_order" instance="SYNAPTECH\Smsalert\Observer\NewOrder"/>
    </event> -->
	
	<event name="sales_order_place_after">
        <observer name="synaptech_smsalert_observer_new_order" instance="SYNAPTECH\Smsalert\Observer\NewOrder"/>
    </event>
	
	
	<!-- <event name="order_cancel_after">
        <observer name="synaptech_smsalert_observer_order_cancelled" instance="SYNAPTECH\Smsalert\Observer\OrderCancelled"/>
    </event> -->

	<event name="sales_order_shipment_save_after">
		<observer name="synaptech_smsalert_observer_order_shipped" instance="SYNAPTECH\Smsalert\Observer\OrderShipped"/>
	</event>
	
    <event name="sales_order_save_after">
        <observer name="synaptech_smsalert_observer_order_cancelled" instance="SYNAPTECH\Smsalert\Observer\OrderCancelled"/> 
        <observer name="synaptech_smsalert_observer_order_hold" instance="SYNAPTECH\Smsalert\Observer\OrderHold"/>
        <observer name="synaptech_smsalert_observer_order_un_hold" instance="SYNAPTECH\Smsalert\Observer\OrderUnHold"/>
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="synaptech_smsalert_observer_invoice_create" instance="SYNAPTECH\Smsalert\Observer\InvoiceCreate"/>
    </event>
	 <event name="sales_order_creditmemo_save_after">
        <observer name="synaptech_smsalert_observer_creditmemo" instance="SYNAPTECH\Smsalert\Observer\CreditMemo"/>
    </event>
    <event name="customer_register_success">
        <observer name="synaptech_smsalert_observer_register_success" instance="SYNAPTECH\Smsalert\Observer\Registration"/>
    </event>
</config>